<div class="container">

  <form (ngSubmit)="processNidForm()">
      <div class="form group">
          <input type="hidden" name="id" class="form-control" [(ngModel)]="nid.id">
      </div>
      <div class="form group">
          <label for="fname">First Name</label>
          <input type="text" name="fname" class="form-control" [(ngModel)]="nid.fname">
      </div>
      <div class="form group">
          <label for="lname">Last Name</label>
          <input type="text" name="lname" class="form-control" [(ngModel)]="nid.lname">
      </div>

      <div class="form group">
        <label for="fname">Nid</label>
        <input type="text" name="nid" class="form-control" [(ngModel)]="nid.nid">
      </div>

      <div class="form group">
        <label for="lname">Passport</label>
        <input type="text" name="ppid" class="form-control" [(ngModel)]="nid.ppid">
      </div>

      <div class="form group">
        <label for="lname">Birthdate</label>
        <input type="text" name="birthdate" class="form-control" [(ngModel)]="nid.birthdate">
      </div>

      <input type="submit" value="save" class="btn btn-success">
  </form>
</div>