<div class="container">
   <table class="table table-striped">
          <thead>
              <th>Id</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>NID </th>
              <th>Passport</th>
              <th>Birthday</th>
          </thead>
          <tbody>
              <tr *ngFor="let nid of nids">
                  <td>{{nid.id}}</td>
                  <td>{{nid.fname}}</td>
                  <td>{{nid.lname}}</td>
                  <td>{{nid.nid}}</td>
                  <td>{{nid.ppid}}</td>
                  <td>{{nid.birthdate}}</td>
                  <td><button class="btn btn-danger" (click)="deleteNid(nid)">Delete</button>
                      <button class="btn btn-primary" (click)="updateNid(nid)">Edit</button></td>
              </tr>
          </tbody>
          <button class="btn btn-primary" (click)="createNid()">New Nid</button>
      </table>
    
  </div>